In [2]:
import numpy as np
import pandas as pd

In [3]:
ser = pd.Series(np.random.rand(34))

In [4]:
ser.head()

0    0.260144
1    0.771794
2    0.660993
3    0.118984
4    0.064712
dtype: float64

In [5]:
newdf= pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))
# newdf[0].replace(0.804588,'hello',inplace=True)
newdf

            0         1         2         3         4
0    0.503519  0.662467  0.894329  0.016938  0.292595
1    0.182654  0.063776  0.999563  0.065382  0.906136
2    0.689396  0.831239  0.111474  0.419820  0.812219
3    0.675818  0.826054  0.667241  0.777982  0.700051
4    0.128855  0.370210  0.029977  0.359455  0.667791
..        ...       ...       ...       ...       ...
329  0.704487  0.203452  0.712167  0.927720  0.964815
330  0.297875  0.686567  0.366241  0.793771  0.161354
331  0.772240  0.452740  0.710291  0.518449  0.404438
332  0.552141  0.838119  0.591222  0.854171  0.984826
333  0.715940  0.957648  0.070581  0.207587  0.358950

[334 rows x 5 columns]

In [6]:
import re
hello = 'this is omkar'
# energy[energy['Country'].str.findall("\d")]
# pattern = '\d'
# regex = re.compile(pattern)
# energy['Country'].apply(lambda x: regex.split(x)).tail(40)
# energy['Country'].apply(lambda x: replace(pattern,'')).tail(40)
energy['Country'].replace(regex=r'\d',value='')

NameError: name 'energy' is not defined

In [7]:
newdf = newdf.loc[:,[0,1]]
newdf.columns = ['he','bd']
newdf.loc[newdf['he']==0.493316,'bd']

Series([], Name: bd, dtype: float64)

In [8]:
newdf.describe()

               he          bd
count  334.000000  334.000000
mean     0.503917    0.501780
std      0.294002    0.286467
min      0.005014    0.000069
25%      0.248593    0.242170
50%      0.531942    0.537484
75%      0.748180    0.746280
max      0.999244    0.999431

In [9]:
newdf.dtypes

he    float64
bd    float64
dtype: object

In [10]:
newdf[0][0]='omkar'
newdf.head()

KeyError: 0

In [11]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [12]:
newdf.columns

Index(['he', 'bd'], dtype='object')

array([[8.04588082e-01, 1.74629231e-01],
       [5.21420220e-02, 7.49471937e-01],
       [2.61296025e-01, 2.37578058e-01],
       [3.63774810e-01, 4.53952469e-01],
       [4.19944691e-01, 8.61069146e-02],
       [4.02051766e-02, 8.66073216e-01],
       [8.99525978e-01, 4.90188919e-01],
       [3.98118664e-01, 8.70834196e-01],
       [1.87953051e-01, 1.62717724e-02],
       [4.50452746e-01, 2.40093261e-01],
       [7.87999959e-01, 2.27600326e-01],
       [8.62809713e-01, 1.89743270e-01],
       [7.31390285e-01, 8.53953665e-01],
       [5.45400633e-01, 5.59000754e-01],
       [2.08932409e-01, 4.60972684e-01],
       [7.56765895e-01, 4.76019216e-01],
       [8.99006293e-02, 3.84272302e-01],
       [1.32733684e-01, 3.94597428e-01],
       [9.90327335e-01, 1.38732146e-01],
       [1.63643779e-01, 1.06601167e-01],
       [6.62980220e-02, 3.79415855e-02],
       [5.29602401e-01, 6.75343383e-01],
       [7.77274332e-01, 1.60996641e-02],
       [9.38770756e-01, 6.71335338e-01],
       [8.88196576e-01, 9.58943633e-01],
       [3.50402872e-01, 6.58299784e-01],
       [9.73112481e-01, 3.01618607e-01],
       [3.34467509e-01, 9.13107424e-01],
       [7.05675996e-01, 8.50180775e-01],
       [5.86796021e-01, 3.61182175e-01],
       [3.62493530e-01, 9.45435093e-01],
       [8.74164718e-01, 4.47079390e-01],
       [1.81367902e-01, 2.40893667e-02],
       [8.52731514e-01, 9.48028230e-01],
       [4.79237313e-01, 6.08876001e-01],
       [7.97407564e-01, 8.10427547e-01],
       [5.14598227e-01, 1.93371365e-01],
       [6.01218700e-01, 5.09999544e-01],
       [5.50943364e-01, 1.83922386e-01],
       [7.43550660e-01, 7.54061204e-01],
       [3.45587519e-01, 7.34984961e-03],
       [7.09969201e-01, 8.59649109e-01],
       [1.44779913e-01, 2.92486215e-01],
       [5.33060448e-01, 3.68512813e-01],
       [6.74739423e-01, 2.04723778e-01],
       [1.91397420e-01, 4.29678385e-01],
       [3.94963822e-01, 3.60209965e-01],
       [4.94344072e-01, 8.89271532e-02],
       [7.00796406e-01, 1.95169056e-01],
       [7.41070419e-01, 9.79854356e-02],
       [6.82919652e-01, 7.55502041e-03],
       [2.74159579e-01, 8.71748071e-01],
       [2.81741821e-01, 4.37720092e-01],
       [7.68648274e-01, 1.12195833e-01],
       [8.91560298e-01, 8.13072378e-01],
       [2.51320909e-01, 7.15649302e-01],
       [1.11865711e-01, 6.04431932e-01],
       [6.83774600e-01, 7.70954346e-01],
       [3.64263625e-02, 6.51616471e-01],
       [4.24019019e-01, 6.59290132e-01],
       [5.42508656e-01, 6.30259419e-01],
       [2.50259548e-01, 6.54427730e-01],
       [9.72331140e-01, 1.59996699e-01],
       [8.44291448e-01, 5.45484800e-01],
       [2.44226279e-01, 3.42529075e-02],
       [2.56450086e-01, 8.52148301e-01],
       [9.53689766e-03, 5.78150856e-01],
       [3.52941409e-01, 4.35466411e-01],
       [4.83634020e-01, 4.15955147e-01],
       [3.62214749e-01, 9.56386661e-01],
       [5.95254522e-01, 1.99050627e-02],
       [2.62238132e-01, 7.81967062e-01],
       [5.98429903e-01, 7.11532516e-02],
       [2.61538884e-01, 9.59913249e-01],
       [1.65569762e-01, 6.45442218e-01],
       [2.07443036e-01, 6.39216064e-01],
       [6.22136639e-01, 1.11489685e-01],
       [9.14268569e-01, 3.85499040e-01],
       [6.68227241e-01, 6.54138467e-01],
       [3.60512662e-01, 6.97123698e-02],
       [2.82651683e-01, 9.66094388e-01],
       [4.30663955e-02, 7.06175381e-01],
       [5.63913674e-01, 6.86070388e-01],
       [4.84943184e-01, 6.80526903e-01],
       [5.44084705e-01, 2.28314561e-01],
       [8.10107551e-01, 3.88687553e-01],
       [8.01409813e-01, 8.07422089e-01],
       [4.36592336e-01, 6.19647943e-01],
       [7.16280875e-01, 4.71970857e-01],
       [6.33079270e-01, 7.85307535e-01],
       [1.77069733e-01, 7.70986791e-01],
       [4.94221244e-02, 2.72383847e-01],
       [6.27893441e-01, 6.58926715e-01],
       [6.48965751e-01, 1.46643327e-01],
       [2.84326504e-01, 4.66517447e-01],
       [7.29049959e-01, 5.87768426e-01],
       [7.00566148e-01, 2.36939521e-01],
       [7.75498327e-01, 8.11861681e-01],
       [7.30864371e-01, 9.22034689e-01],
       [8.81484884e-01, 9.55473025e-01],
       [7.60035146e-01, 8.84849273e-01],
       [7.34130179e-01, 2.95857740e-01],
       [2.86721271e-01, 3.66705762e-01],
       [9.44919010e-01, 7.80691340e-01],
       [4.66809876e-01, 6.15621736e-01],
       [3.26986614e-01, 5.16755903e-01],
       [9.98090320e-01, 4.72036878e-01],
       [5.62309813e-01, 1.54085295e-01],
       [2.64899627e-01, 5.04642090e-01],
       [5.18966058e-01, 3.10878427e-01],
       [2.80510955e-01, 4.38651497e-01],
       [2.52482890e-01, 9.89329401e-01],
       [4.84442078e-01, 9.91771072e-01],
       [7.27974190e-01, 9.38218860e-01],
       [9.22801888e-01, 2.19873288e-01],
       [9.62529474e-01, 5.94227054e-01],
       [3.37749755e-01, 4.78930404e-01],
       [9.94962344e-01, 6.43243893e-01],
       [7.49223770e-01, 4.99436788e-01],
       [4.72996068e-01, 5.09234321e-03],
       [6.02740091e-01, 4.17073274e-02],
       [1.51237244e-04, 1.08218065e-01],
       [1.02756209e-01, 7.05017001e-02],
       [4.65272284e-01, 2.65134269e-03],
       [2.37495279e-01, 2.00594123e-01],
       [7.75961421e-01, 5.96678191e-01],
       [4.23316674e-02, 2.44559243e-01],
       [2.73121047e-01, 2.03786148e-01],
       [9.21707327e-01, 3.58942158e-01],
       [9.97717900e-01, 3.38451715e-01],
       [4.27376638e-02, 1.80120698e-02],
       [3.22431145e-01, 5.96226528e-01],
       [4.75957669e-01, 9.99847531e-01],
       [4.86079266e-01, 9.77025876e-01],
       [5.16840864e-02, 3.80906881e-01],
       [9.94977727e-01, 8.86869437e-01],
       [2.37579764e-01, 9.77519116e-01],
       [2.11562901e-01, 9.99512650e-01],
       [5.14916526e-02, 7.11822929e-01],
       [6.87273356e-01, 9.63301761e-01],
       [6.87475244e-01, 6.58590112e-01],
       [7.01121835e-01, 7.28007616e-01],
       [3.33634991e-01, 8.71625140e-02],
       [1.83744726e-01, 6.82572997e-01],
       [8.56102120e-01, 9.25824050e-01],
       [6.86918479e-01, 9.15440434e-01],
       [5.95738296e-02, 7.70647124e-01],
       [1.39291989e-01, 9.38270512e-01],
       [4.32802296e-01, 9.74350171e-01],
       [7.13072487e-01, 7.17117401e-01],
       [5.94242441e-01, 2.12672596e-01],
       [6.97143133e-01, 9.11943127e-01],
       [4.32234285e-01, 3.44832185e-01],
       [7.86281543e-01, 1.83978690e-01],
       [2.45029312e-01, 8.63198363e-02],
       [9.75256955e-01, 1.80075192e-01],
       [9.12532589e-01, 2.46160585e-01],
       [5.54307650e-02, 8.58981308e-01],
       [5.41292805e-01, 1.04524042e-01],
       [4.34127023e-01, 2.94605419e-03],
       [6.15069347e-01, 4.58404039e-01],
       [6.54622872e-02, 3.22465556e-01],
       [1.84719338e-01, 5.90479097e-01],
       [2.60826393e-01, 8.68437171e-01],
       [2.93148255e-01, 9.44390212e-01],
       [7.19552418e-01, 6.60430167e-01],
       [5.60562365e-01, 4.82115545e-01],
       [1.53313518e-01, 8.16217891e-01],
       [4.04714241e-01, 6.47567419e-01],
       [7.33596375e-01, 7.74234143e-01],
       [9.21438368e-01, 5.94464149e-01],
       [7.95068430e-01, 8.58841108e-01],
       [9.61013408e-02, 5.73250611e-01],
       [6.72889831e-01, 4.71293963e-01],
       [6.78478512e-01, 2.55626916e-01],
       [4.99814163e-01, 4.20045505e-01],
       [2.59889978e-01, 9.64415855e-01],
       [4.77051871e-01, 4.08402281e-01],
       [2.31177746e-01, 6.06713915e-01],
       [3.06759572e-01, 4.40628406e-01],
       [2.04147205e-01, 8.75446207e-01],
       [4.57063739e-01, 1.56650234e-01],
       [7.01971027e-01, 6.21397481e-01],
       [5.43884235e-01, 9.23390160e-01],
       [5.02651917e-01, 1.90744057e-01],
       [1.62910615e-01, 8.23594581e-01],
       [9.34791723e-01, 2.81272055e-02],
       [9.16382223e-01, 7.05829690e-01],
       [5.04951665e-01, 3.68804159e-01],
       [4.74484027e-01, 8.62714253e-01],
       [5.69459487e-01, 3.56743863e-01],
       [3.27070567e-01, 1.66568639e-01],
       [3.07640067e-01, 7.12893322e-01],
       [5.74927899e-01, 1.32759541e-01],
       [8.99737673e-01, 2.02806178e-01],
       [2.80675723e-01, 6.55174720e-01],
       [1.60472741e-01, 6.99891847e-01],
       [1.68119301e-01, 1.75173984e-01],
       [2.07805968e-01, 2.59218963e-01],
       [1.47381563e-01, 7.12197157e-01],
       [7.10677274e-01, 7.92968760e-01],
       [4.91696183e-01, 2.04458648e-01],
       [1.39701309e-02, 1.96793078e-01],
       [9.60897310e-01, 6.92870616e-01],
       [1.28492249e-01, 7.47199912e-01],
       [1.70204054e-01, 9.53678530e-01],
       [5.77551221e-01, 7.68615523e-03],
       [8.96441881e-01, 1.41046204e-01],
       [5.12729531e-02, 2.00420688e-01],
       [3.28036294e-01, 9.31811419e-02],
       [1.91960183e-01, 8.13025944e-01],
       [6.72216873e-01, 6.89252210e-03],
       [7.18617233e-01, 8.03191954e-02],
       [1.11268325e-01, 7.13231429e-01],
       [5.42156003e-01, 5.47399381e-01],
       [8.10695497e-01, 4.68465387e-01],
       [2.14717098e-01, 1.71315830e-01],
       [2.81922257e-01, 2.26219617e-01],
       [9.32928028e-01, 2.71322560e-01],
       [7.43295268e-01, 9.95760941e-02],
       [1.44740951e-01, 4.06160439e-01],
       [5.05304413e-01, 9.80523991e-01],
       [4.07500507e-01, 9.10249228e-01],
       [3.83136424e-01, 6.92670257e-01],
       [3.92796167e-01, 2.27308123e-01],
       [4.79741322e-01, 1.47144659e-01],
       [8.16728032e-01, 3.53803169e-01],
       [7.06606170e-02, 2.21996960e-01],
       [1.86676167e-01, 6.88057833e-01],
       [6.09495437e-01, 2.38010500e-01],
       [6.41808539e-01, 5.31071965e-01],
       [8.95563935e-01, 4.32504209e-01],
       [1.24475594e-01, 1.29345451e-01],
       [7.56340485e-01, 1.91928203e-01],
       [2.80467746e-01, 1.00289397e-01],
       [7.71412035e-01, 5.79683120e-01],
       [6.53927471e-01, 4.74399830e-01],
       [8.09450525e-01, 5.87669054e-01],
       [6.64376321e-01, 2.83797363e-01],
       [4.12062940e-01, 3.97069898e-01],
       [6.40167852e-01, 3.65922697e-01],
       [4.27919018e-01, 7.12298484e-01],
       [9.27214673e-01, 9.31373738e-01],
       [3.61025381e-01, 5.68278786e-01],
       [6.00448935e-01, 6.13095948e-01],
       [7.29227821e-01, 9.76050219e-01],
       [7.41364438e-01, 5.52027786e-01],
       [5.57301196e-01, 2.75392365e-01],
       [8.04156457e-01, 7.08367072e-01],
       [4.97630059e-02, 8.56986528e-01],
       [3.88789795e-01, 5.25291586e-01],
       [9.42305885e-02, 3.47586295e-02],
       [7.26278534e-01, 1.98208446e-01],
       [4.60388300e-01, 9.42108723e-01],
       [1.68567218e-01, 9.14341818e-01],
       [2.84975688e-01, 5.65313708e-02],
       [4.95749736e-01, 4.43886733e-01],
       [7.66427440e-01, 4.70444430e-01],
       [1.91187926e-01, 2.16247998e-01],
       [5.08926551e-01, 8.19875210e-01],
       [3.57846120e-01, 5.70966294e-01],
       [7.80615656e-01, 6.58032067e-01],
       [9.01210163e-02, 4.01227412e-01],
       [5.23876940e-01, 5.50066649e-01],
       [1.60405811e-01, 7.05683711e-01],
       [3.84568725e-01, 6.34219484e-01],
       [3.61949570e-01, 8.39244916e-01],
       [3.80736530e-01, 4.55860044e-01],
       [3.55197074e-01, 7.36836031e-01],
       [1.80817587e-01, 3.42180444e-01],
       [5.56527414e-01, 8.22764386e-01],
       [5.16505023e-01, 2.69557155e-01],
       [4.32470967e-02, 1.63738805e-01],
       [2.22198285e-01, 3.02929883e-01],
       [7.95891976e-01, 7.07746741e-01],
       [1.16919816e-03, 9.22577431e-01],
       [2.16504242e-01, 1.85732085e-01],
       [2.20963050e-01, 8.44294206e-01],
       [4.74222150e-01, 7.25259804e-02],
       [5.53198406e-01, 1.33504457e-01],
       [8.68126664e-01, 8.59120547e-01],
       [7.62983214e-01, 1.65453619e-01],
       [6.77646258e-01, 6.35795099e-01],
       [3.62830451e-01, 8.43004457e-01],
       [5.65515283e-01, 7.79604060e-01],
       [9.96991262e-01, 5.05890033e-01],
       [3.08048678e-01, 3.61306544e-01],
       [2.05659253e-02, 6.91185885e-01],
       [9.90108945e-01, 5.07115199e-01],
       [4.81264841e-02, 7.74548284e-01],
       [5.71217921e-01, 2.96534967e-02],
       [8.06003356e-01, 7.01584036e-01],
       [9.51582372e-01, 1.05395949e-01],
       [3.52095582e-01, 8.87943278e-01],
       [5.03406071e-01, 4.35531254e-01],
       [5.84230024e-01, 7.71738908e-01],
       [4.80089793e-01, 5.77659184e-02],
       [9.78987470e-03, 1.55602810e-01],
       [8.44489712e-01, 4.51877904e-01],
       [2.93454521e-01, 5.66430742e-01],
       [4.46133723e-04, 7.25764925e-01],
       [6.16079993e-01, 5.89694948e-01],
       [1.71504705e-01, 2.13703056e-01],
       [6.12064106e-01, 2.31393264e-02],
       [6.07397853e-01, 9.80050684e-01],
       [4.86920742e-01, 4.33762572e-01],
       [7.27479498e-01, 2.62704067e-01],
       [8.05706019e-02, 1.75463952e-01],
       [8.50671012e-03, 1.38706881e-01],
       [8.23836329e-01, 1.62792009e-02],
       [8.93902905e-01, 1.80129590e-01],
       [5.40083114e-01, 4.55473067e-02],
       [6.09893078e-01, 4.79293525e-01],
       [3.53725632e-03, 7.99896498e-01],
       [5.96822388e-01, 4.73075079e-01],
       [9.59759118e-01, 7.64784450e-01],
       [2.88234716e-01, 5.79687076e-01],
       [9.66201009e-01, 9.60251052e-01],
       [5.51312432e-01, 9.55802490e-01],
       [9.73021916e-01, 5.20820087e-01],
       [8.33140890e-01, 3.48860371e-01],
       [2.57395307e-01, 6.50978876e-01],
       [7.60328682e-01, 2.18622862e-01],
       [3.09028730e-02, 3.28798983e-01],
       [9.08673965e-02, 4.24304421e-01],
       [7.10329011e-01, 5.24391599e-01],
       [8.67981194e-01, 7.84399483e-01],
       [9.42752656e-01, 3.64096653e-01],
       [4.43922014e-01, 1.52321412e-01],
       [6.95151922e-01, 7.27453342e-01],
       [1.60770242e-02, 7.83633819e-01],
       [4.72182036e-01, 1.22986695e-01],
       [3.70800613e-01, 7.46816687e-01],
       [5.43629298e-01, 8.18369145e-01]])

In [13]:
newdf[0][0]=0.3
newdf.to_numpy()

KeyError: 0

In [14]:
newdf.head()

         he        bd
0  0.503519  0.662467
1  0.182654  0.063776
2  0.689396  0.831239
3  0.675818  0.826054
4  0.128855  0.370210

In [15]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
he,0.503519,0.182654,0.689396,0.675818,0.128855,0.845665,0.659939,0.352836,0.851122,0.101222,...,0.46252,0.547849,0.862306,0.632421,0.900899,0.704487,0.297875,0.77224,0.552141,0.715940
bd,0.662467,0.063776,0.831239,0.826054,0.370210,0.534636,0.640644,0.284273,0.835157,0.147406,...,0.88038,0.579709,0.446701,0.845662,0.284578,0.203452,0.686567,0.45274,0.838119,0.957648

In [16]:
newdf.sort_index(axis=1, ascending=True)

           bd        he
0    0.662467  0.503519
1    0.063776  0.182654
2    0.831239  0.689396
3    0.826054  0.675818
4    0.370210  0.128855
..        ...       ...
329  0.203452  0.704487
330  0.686567  0.297875
331  0.452740  0.772240
332  0.838119  0.552141
333  0.957648  0.715940

[334 rows x 2 columns]

In [17]:
newdf.head()

         he        bd
0  0.503519  0.662467
1  0.182654  0.063776
2  0.689396  0.831239
3  0.675818  0.826054
4  0.128855  0.370210

In [18]:
newdf[0].head()

KeyError: 0

In [19]:
newdf.loc[0,0]=654

In [20]:
newdf.head(2)

         he        bd      0
0  0.503519  0.662467  654.0
1  0.182654  0.063776    NaN

In [21]:
newdf.columns = list('Abcde')
newdf.head(2)

ValueError: Length mismatch: Expected axis has 3 elements, new values have 5 elements

In [22]:
newdf.loc[0,'A']=65462
newdf.head(2)

         he        bd      0        A
0  0.503519  0.662467  654.0  65462.0
1  0.182654  0.063776    NaN      NaN

In [23]:
newdf.loc[0,0]= 65554
newdf.head(2)

         he        bd        0        A
0  0.503519  0.662467  65554.0  65462.0
1  0.182654  0.063776      NaN      NaN

In [24]:
newdf=newdf.drop(2, axis=0)
newdf.head()

         he        bd        0        A
0  0.503519  0.662467  65554.0  65462.0
1  0.182654  0.063776      NaN      NaN
3  0.675818  0.826054      NaN      NaN
4  0.128855  0.370210      NaN      NaN
5  0.845665  0.534636      NaN      NaN

In [25]:
newdf.columns=list('ABCDE')
newdf.head(2)

ValueError: Length mismatch: Expected axis has 4 elements, new values have 5 elements

In [26]:
newdf.loc[[1,2],['A','B']]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([2], dtype='int64'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [27]:
newdf.loc[1:5:2,:]

         he        bd   0   A
1  0.182654  0.063776 NaN NaN
4  0.128855  0.370210 NaN NaN

In [28]:
newdf.head(2)

         he        bd        0        A
0  0.503519  0.662467  65554.0  65462.0
1  0.182654  0.063776      NaN      NaN

In [29]:
newdf.loc[(newdf['A']==65462.0),['he','A']]

         he        A
0  0.503519  65462.0

In [30]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                    'value': [1, 2, 3, 5]})
df2.index = list(range(1,5))

In [31]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [32]:
df2

  rkey  value
1  foo      1
2  bar      2
3  baz      3
4  foo      5

In [33]:
df_merge= pd.merge(df1,df2,left_on='value',right_on='value',how='outer')
df_merge

  lkey  value rkey
0  foo      1  foo
1  bar      2  bar
2  baz      3  baz
3  foo      5  foo

In [34]:
newdf

           he        bd        0        A
0    0.503519  0.662467  65554.0  65462.0
1    0.182654  0.063776      NaN      NaN
3    0.675818  0.826054      NaN      NaN
4    0.128855  0.370210      NaN      NaN
5    0.845665  0.534636      NaN      NaN
..        ...       ...      ...      ...
329  0.704487  0.203452      NaN      NaN
330  0.297875  0.686567      NaN      NaN
331  0.772240  0.452740      NaN      NaN
332  0.552141  0.838119      NaN      NaN
333  0.715940  0.957648      NaN      NaN

[333 rows x 4 columns]

In [35]:
newdf.iloc[0,4]

IndexError: single positional indexer is out-of-bounds

In [36]:
newdf.iloc[[1,0,5],[1,3]]

         bd        A
1  0.063776      NaN
0  0.662467  65462.0
6  0.640644      NaN

In [37]:
newdf.head(3)

         he        bd        0        A
0  0.503519  0.662467  65554.0  65462.0
1  0.182654  0.063776      NaN      NaN
3  0.675818  0.826054      NaN      NaN

In [38]:
newdf.drop([0])

           he        bd   0   A
1    0.182654  0.063776 NaN NaN
3    0.675818  0.826054 NaN NaN
4    0.128855  0.370210 NaN NaN
5    0.845665  0.534636 NaN NaN
6    0.659939  0.640644 NaN NaN
..        ...       ...  ..  ..
329  0.704487  0.203452 NaN NaN
330  0.297875  0.686567 NaN NaN
331  0.772240  0.452740 NaN NaN
332  0.552141  0.838119 NaN NaN
333  0.715940  0.957648 NaN NaN

[332 rows x 4 columns]

In [39]:
newdf.drop(['B'], axis=1)

KeyError: "['B'] not found in axis"

In [40]:
newdf.head()

         he        bd        0        A
0  0.503519  0.662467  65554.0  65462.0
1  0.182654  0.063776      NaN      NaN
3  0.675818  0.826054      NaN      NaN
4  0.128855  0.370210      NaN      NaN
5  0.845665  0.534636      NaN      NaN

In [41]:
newdf.drop(['E'],axis=1, inplace=True)
newdf

KeyError: "['E'] not found in axis"

In [42]:
newdf.reset_index(drop=True, inplace=True)

In [43]:
newdf

           he        bd        0        A
0    0.503519  0.662467  65554.0  65462.0
1    0.182654  0.063776      NaN      NaN
2    0.675818  0.826054      NaN      NaN
3    0.128855  0.370210      NaN      NaN
4    0.845665  0.534636      NaN      NaN
..        ...       ...      ...      ...
328  0.704487  0.203452      NaN      NaN
329  0.297875  0.686567      NaN      NaN
330  0.772240  0.452740      NaN      NaN
331  0.552141  0.838119      NaN      NaN
332  0.715940  0.957648      NaN      NaN

[333 rows x 4 columns]

In [44]:
df = pd.DataFrame([[5, 2, np.nan, 1.0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, np.nan]],
                   columns=list('ABCD'))

In [45]:
df

     A    B   C    D
0  5.0  2.0 NaN  1.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN

In [46]:
df.dropna(how='all',axis=1)

     A    B    D
0  5.0  2.0  1.0
1  3.0  4.0  1.0
2  NaN  NaN  NaN

In [47]:
df.drop_duplicates(subset=['D'])

     A    B   C    D
0  5.0  2.0 NaN  1.0
2  NaN  NaN NaN  NaN

In [48]:
df.isnull()

       A      B     C      D
0  False  False  True  False
1  False  False  True  False
2   True   True  True   True

In [49]:
df.notnull()

       A      B      C      D
0   True   True  False   True
1   True   True  False   True
2  False  False  False  False

In [50]:
new = pd.read_excel('p.xlsx')
new

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,646416,516
0,0,50,50,50,50,50,50,50,50,5
1,1,1,1,1,1,1,1,1,313,5
2,2,2,2,2,2,2,2,2,3,5
3,3,3,3,3,3,3,3,3,1855,6
4,4,4,4,4,4,4,4,4,6,654

In [51]:
new.iloc[0,0]=50
new

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,646416,516
0,50,50,50,50,50,50,50,50,50,5
1,1,1,1,1,1,1,1,1,313,5
2,2,2,2,2,2,2,2,2,3,5
3,3,3,3,3,3,3,3,3,1855,6
4,4,4,4,4,4,4,4,4,6,654

In [52]:
new.to_excel('p.xlsx')

In [53]:
census_df = pd.read_csv('census.csv') 
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [54]:
d = {'col1': [1, 2,3,4,5], 'col2': [1, 2,3,4,5],'col3': [6,7,8,9,10]}
df = pd.DataFrame(data=d,index=['A','B','C','D','E'])
df

   col1  col2  col3
A     1     1     6
B     2     2     7
C     3     3     8
D     4     4     9
E     5     5    10

In [55]:
df[['col1','col2']]
df[df[['col1','col2']]].mean(axis=1)

ValueError: Boolean array expected for the condition, not int64

   col1  col2
A     1     1
B     2     2
C     3     3
D     4     4
E     5     5

In [106]:
x = pd.ExcelFile('Energy+Indicators.xls')
energy = x.parse(skiprows=17,skipfooter=38)
energy = energy.drop(['Unnamed: 0','Unnamed: 1'],axis=1)
energy.rename(columns={'Unnamed: 2':'Country','Petajoules':'Energy Supply','Gigajoules':'Energy Supply per Capita','%':'% Renewable'},inplace=True)
energy[['Energy Supply', 'Energy Supply per Capita', '% Renewable']] =  energy[['Energy Supply', 'Energy Supply per Capita', '% Renewable']].replace('...',np.NaN)

energy['Country'].replace(regex=r'\(.*\)',value='',inplace=True)    
energy['Country'].replace(regex=r'\d',value='',inplace=True)

energy['Country'] = energy['Country'].replace({'Iran ':'Iran','United States of America':'United States','United Kingdom of Great Britain and Northern Ireland':'United Kingdom','China, Hong Kong Special Administrative Region':'Hong Kong'})
energy['Energy Supply'] = (energy['Energy Supply'])*1000000


GDP = pd.read_csv('world_bank.csv',skiprows=4)
GDP['Country Name'] = GDP['Country Name'].replace({"South Sudan": "South Korea","Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"})
GDP.rename(columns={'Country Name': 'Country'},inplace=True)
GDP = GDP[['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
GDP.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']

y = pd.ExcelFile('scimagojr-3.xlsx')
SciEn = y.parse()
SciEn = SciEn[:15]    

merge_SciEn_energy = pd.merge(SciEn, energy, on='Country',how='inner')
merge_SciEn_energy_GDP = pd.merge(merge_SciEn_energy, GDP, on='Country',how='inner')

merge_SciEn_energy_GDP.set_index('Country',inplace=True)
merge_SciEn_energy_GDP

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [57]:
Top15 = merge_SciEn_energy_GDP
a = Top15.loc[Top15['Rank']==4,'2015'] - Top15.loc[Top15['Rank']==4,'2006'] 
a[0]

246702696075.3999

In [58]:


ans = Top15[Top15['Rank'] == 4]['2015'] - Top15[Top15['Rank'] == 4]['2006']
pd.to_numeric(ans)[0]

246702696075.3999

In [59]:
Top15['Energy Supply per Capita'].mean()

153.07142857142858

In [60]:
Top15

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [78]:
x = pd.ExcelFile('Energy+Indicators.xls')
energy = x.parse(skiprows=17,skipfooter=38)
energy = energy.drop(['Unnamed: 0','Unnamed: 1'],axis=1)
energy.rename(columns={'Unnamed: 2':'Country','Petajoules':'Energy Supply','Gigajoules':'Energy Supply per Capita','%':'% Renewable'},inplace=True)
energy[['Energy Supply', 'Energy Supply per Capita', '% Renewable']] =  energy[['Energy Supply', 'Energy Supply per Capita', '% Renewable']].replace('...',np.NaN)

energy['Country'].replace(regex=r'\(.*\)',value='',inplace=True)    
energy['Country'].replace(regex=r'\d',value='',inplace=True)

energy['Country'] = energy['Country'].replace({'Iran ':'Iran','United States of America':'United States','United Kingdom of Great Britain and Northern Ireland':'United Kingdom','China, Hong Kong Special Administrative Region':'Hong Kong','Republic of Korea':'South Korea'})
energy['Energy Supply'] = (energy['Energy Supply'])*1000000

energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,3.210000e+08,10.0,78.669280
1,Albania,1.020000e+08,35.0,100.000000
2,Algeria,1.959000e+09,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.000000e+06,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2.554000e+09,28.0,45.321520
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
224,Yemen,3.440000e+08,13.0,0.000000
225,Zambia,4.000000e+08,26.0,99.714670
226,Zimbabwe,4.800000e+08,32.0,52.536120

In [79]:
energy[energy['Country'].str.contains('South Korea')]
# energy[energy['Energy Supply per Capita'] == 221.0]

         Country  Energy Supply  Energy Supply per Capita  % Renewable
164  South Korea   1.100700e+10                     221.0     2.279353

In [83]:
GDP = pd.read_csv('world_bank.csv',skiprows=4)
GDP['Country Name'] = GDP['Country Name'].replace({"Korea, Rep.": "South Korea","Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"})
GDP.rename(columns={'Country Name': 'Country'},inplace=True)
GDP = GDP[['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
GDP.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']

In [84]:
y = pd.ExcelFile('scimagojr-3.xlsx')
SciEn = y.parse()
SciEn = SciEn[:15]

In [85]:
merge_SciEn_energy = pd.merge(SciEn, energy, on='Country',how='inner')
merge_SciEn_energy_GDP = pd.merge(merge_SciEn_energy, GDP, on='Country',how='inner')
# merge_SciEn_energy_GDP = merge_SciEn_energy_GDP.set_index('Country',inplace=True)
merge_SciEn_energy_GDP.set_index('Country',inplace=True)

In [86]:
merge_SciEn_energy_GDP['Rank'] = list

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [96]:
merge_SciEn_energy_GDP['Rank'] = list(i for i in range(15,0,-1))
merge_SciEn_energy_GDP['Rank']

Country
China                 15
United States         14
Japan                 13
United Kingdom        12
Russian Federation    11
Canada                10
Germany                9
India                  8
France                 7
South Korea            6
Italy                  5
Spain                  4
Iran                   3
Australia              2
Brazil                 1
Name: Rank, dtype: int64

In [98]:
a = [1,3]
a.append(5)
a

[1, 3, 5]

In [105]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
Top15 = merge_SciEn_energy_GDP
Top15['PopEst'] = (Top15['Energy Supply'] / Top15['Energy Supply per Capita']).astype(float)
Top15 = Top15.reset_index()
Top15['Continent'] = [ContinentDict[country] for country in Top15['Country']]
ans = Top15.set_index('Continent').groupby(level=0)['PopEst'].agg({'size': np.size, 'sum': np.sum, 'mean': np.mean,'std': np.std})
# ans = ans[['size', 'sum', 'mean', 'std']]
# ans
Top15

SpecificationError: nested renamer is not supported

In [107]:
x = pd.ExcelFile('Energy+Indicators.xls')
energy = x.parse(skiprows=17,skipfooter=38)
energy = energy.drop(['Unnamed: 0','Unnamed: 1'],axis=1)
energy.rename(columns={'Unnamed: 2':'Country','Petajoules':'Energy Supply','Gigajoules':'Energy Supply per Capita','%':'% Renewable'},inplace=True)
energy[['Energy Supply', 'Energy Supply per Capita', '% Renewable']] =  energy[['Energy Supply', 'Energy Supply per Capita', '% Renewable']].replace('...',np.NaN)

energy['Country'].replace(regex=r'\(.*\)',value='',inplace=True)    
energy['Country'].replace(regex=r'\d',value='',inplace=True)

energy['Country'] = energy['Country'].replace({'Iran ':'Iran','United States of America':'United States','United Kingdom of Great Britain and Northern Ireland':'United Kingdom','China, Hong Kong Special Administrative Region':'Hong Kong','Republic of Korea':'South Korea'})
energy['Energy Supply'] = (energy['Energy Supply'])*1000000


GDP = pd.read_csv('world_bank.csv',skiprows=4)
GDP['Country Name'] = GDP['Country Name'].replace({"Korea, Rep.": "South Korea","Iran, Islamic Rep.": "Iran","Hong Kong SAR, China": "Hong Kong"})
GDP.rename(columns={'Country Name': 'Country'},inplace=True)
GDP = GDP[['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
GDP.columns = ['Country','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']

y = pd.ExcelFile('scimagojr-3.xlsx')
SciEn = y.parse()
SciEn = SciEn[:15]    

merge_SciEn_energy = pd.merge(SciEn, energy, on='Country',how='inner')
merge_SciEn_energy_GDP = pd.merge(merge_SciEn_energy, GDP, on='Country',how='inner')
# merge_SciEn_energy_GDP = merge_SciEn_energy_GDP.set_index('Country',inplace=True)
merge_SciEn_energy_GDP.set_index('Country',inplace=True)

In [151]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

Top15 = merge_SciEn_energy_GDP
Top15['PopEst'] = (Top15['Energy Supply'] / Top15['Energy Supply per Capita']).astype(float)
# Top15.reset_index(inplace=True)
# Top15['Continent'] = [ContinentDict[country] for country in Top15['Country']]
# Top15.drop(['level_0','index'],axis=1,inplace=True)
Top15.groupby('Continent')['PopEst'].agg({'mean','sum','size','std'})
# Top15.get_group('Asia')

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

In [163]:
a = {1:'mera',2:'tera',3:'uska'}
d = {'col1': [1, 2,1,3,2], 'col2': [6,7,8,9,10],'col3': [11,12,13,14,15]}
df = pd.DataFrame(data=d,index=['A','B','C','D','E'])
df['col1'] = [a[i] for i in df['col1']]
df

   col1  col2  col3
A  mera     6    11
B  tera     7    12
C  mera     8    13
D  uska     9    14
E  tera    10    15