In [129]:
import numpy as np
import pandas as pd

In [130]:
ser = pd.Series(np.random.rand(34))

In [131]:
ser.head()

0    0.796357
1    0.087756
2    0.026236
3    0.827808
4    0.740165
dtype: float64

In [132]:
newdf= pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))
newdf.head()

          0         1         2         3         4
0  0.233434  0.032187  0.237333  0.865332  0.244665
1  0.981610  0.622183  0.135317  0.712306  0.322084
2  0.915347  0.529004  0.309749  0.490038  0.303686
3  0.200385  0.443946  0.766609  0.088075  0.822005
4  0.913429  0.274154  0.890240  0.730085  0.788109

In [133]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.508022    0.506255    0.494188    0.513777    0.517511
std      0.295274    0.286933    0.294323    0.275283    0.281703
min      0.001471    0.001393    0.003091    0.000737    0.005343
25%      0.243681    0.255708    0.248014    0.280179    0.290676
50%      0.505937    0.510552    0.480499    0.526203    0.494571
75%      0.764585    0.728452    0.763269    0.744784    0.766815
max      0.999587    0.998064    0.999950    0.993596    0.999805

In [134]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [135]:
newdf[0][0]='omkar'
newdf.head()

          0         1         2         3         4
0     omkar  0.032187  0.237333  0.865332  0.244665
1   0.98161  0.622183  0.135317  0.712306  0.322084
2  0.915347  0.529004  0.309749  0.490038  0.303686
3  0.200385  0.443946  0.766609  0.088075  0.822005
4  0.913429  0.274154  0.890240  0.730085  0.788109

In [136]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [137]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [138]:
newdf.to_numpy(
)

array([['omkar', 0.03218687834230394, 0.2373327062241546,
        0.8653319877261301, 0.2446648680474791],
       [0.9816103108091321, 0.6221829576842041, 0.13531681684819086,
        0.7123059702939092, 0.322083914542064],
       [0.9153470619091038, 0.5290037721802184, 0.3097487802816826,
        0.49003785311830805, 0.3036864632865789],
       ...,
       [0.921194585869089, 0.5079703980389337, 0.4772292342918415,
        0.5349737176710226, 0.5038243051581671],
       [0.9280879023034538, 0.8382825147436004, 0.16316414212596586,
        0.8420759931401656, 0.4797723416740972],
       [0.5733482342492985, 0.7228780519026766, 0.31233335919474314,
        0.5105076066161343, 0.46951505797956683]], dtype=object)

In [139]:
newdf[0][0]=0.3
newdf.to_numpy()

array([[0.3, 0.03218687834230394, 0.2373327062241546, 0.8653319877261301,
        0.2446648680474791],
       [0.9816103108091321, 0.6221829576842041, 0.13531681684819086,
        0.7123059702939092, 0.322083914542064],
       [0.9153470619091038, 0.5290037721802184, 0.3097487802816826,
        0.49003785311830805, 0.3036864632865789],
       ...,
       [0.921194585869089, 0.5079703980389337, 0.4772292342918415,
        0.5349737176710226, 0.5038243051581671],
       [0.9280879023034538, 0.8382825147436004, 0.16316414212596586,
        0.8420759931401656, 0.4797723416740972],
       [0.5733482342492985, 0.7228780519026766, 0.31233335919474314,
        0.5105076066161343, 0.46951505797956683]], dtype=object)

In [140]:
newdf.head()

          0         1         2         3         4
0       0.3  0.032187  0.237333  0.865332  0.244665
1   0.98161  0.622183  0.135317  0.712306  0.322084
2  0.915347  0.529004  0.309749  0.490038  0.303686
3  0.200385  0.443946  0.766609  0.088075  0.822005
4  0.913429  0.274154  0.890240  0.730085  0.788109

In [141]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,...,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333
0,0.3,0.98161,0.915347,0.200385,0.913429,0.589007,0.501138,0.0221329,0.611552,0.0122717,0.84464,0.953673,0.08771,0.746393,0.0338905,0.908521,0.729693,0.123489,0.463645,0.644333,0.771472,0.833741,0.0509355,0.164459,0.506499,0.31803,0.693752,0.651541,0.473269,0.26905,0.674506,0.50147,0.428525,0.124278,0.890752,0.96302,0.067656,0.927024,0.198485,0.58892,0.462523,0.491416,...,0.536634,0.537017,0.748611,0.334673,0.456218,0.108422,0.514244,0.951802,0.635838,0.868651,0.26658,0.966187,0.291078,0.884022,0.18389,0.108993,0.0230049,0.373954,0.0826204,0.899795,0.255978,0.442054,0.267861,0.802779,0.13055,0.592144,0.226011,0.302531,0.142826,0.146097,0.879783,0.626735,0.626411,0.346132,0.841666,0.555311,0.47201,0.289072,0.659761,0.921195,0.928088,0.573348
1,0.0321869,0.622183,0.529004,0.443946,0.274154,0.73876,0.927407,0.798084,0.983897,0.831157,0.196453,0.530297,0.486216,0.885271,0.305192,0.119897,0.197003,0.00381921,0.813577,0.906338,0.937752,0.240936,0.232,0.7038,0.323594,0.960233,0.046356,0.4985,0.444681,0.465161,0.00139317,0.667493,0.625685,0.62696,0.511642,0.257278,0.656175,0.337484,0.259189,0.217827,0.14391,0.986053,...,0.482514,0.997867,0.17452,0.568392,0.460244,0.677626,0.161353,0.30359,0.628516,0.689303,0.554935,0.889389,0.180991,0.442232,0.20257,0.895116,0.88613,0.175439,0.0737247,0.621207,0.883631,0.585318,0.246077,0.158626,0.0310169,0.709598,0.0881384,0.884753,0.722976,0.490961,0.387237,0.737105,0.0365015,0.664716,0.195087,0.963237,0.878843,0.880175,0.546782,0.50797,0.838283,0.722878
2,0.237333,0.135317,0.309749,0.766609,0.89024,0.658472,0.0764624,0.320915,0.0406582,0.339842,0.416301,0.870866,0.482651,0.926554,0.508468,0.0997091,0.285881,0.917453,0.542303,0.205002,0.283851,0.477751,0.692617,0.745074,0.275041,0.754887,0.297456,0.30876,0.706673,0.297356,0.729218,0.0977031,0.498281,0.0829995,0.133179,0.149855,0.409836,0.303456,0.0383637,0.946866,0.344806,0.125736,...,0.101423,0.898113,0.480967,0.510766,0.168778,0.0294939,0.551782,0.355137,0.900035,0.134017,0.102633,0.722872,0.511736,0.791619,0.900521,0.185386,0.395745,0.649542,0.0459195,0.99995,0.922796,0.161412,0.95615,0.447248,0.330973,0.676149,0.313805,0.343378,0.772244,0.134486,0.505082,0.601308,0.0259444,0.80788,0.269195,0.385047,0.925511,0.502028,0.902834,0.477229,0.163164,0.312333
3,0.865332,0.712306,0.490038,0.0880754,0.730085,0.0369304,0.249531,0.351029,0.79626,0.216633,0.71329,0.469996,0.838765,0.132843,0.83697,0.98161,0.537929,0.840586,0.671749,0.489567,0.353683,0.247092,0.286297,0.159811,0.763029,0.365525,0.883798,0.640838,0.114057,0.698926,0.224254,0.357006,0.197014,0.820076,0.599776,0.761475,0.333774,0.845076,0.462355,0.427075,0.733615,0.206755,...,0.474683,0.238769,0.0459307,0.817242,0.268885,0.614697,0.517206,0.0254558,0.465651,0.96471,0.0364988,0.353171,0.958412,0.60023,0.449726,0.775574,0.121712,0.686371,0.327945,0.252793,0.853562,0.624697,0.0759732,0.790953,0.647157,0.156226,0.553737,0.4585,0.85563,0.36133,0.540487,0.0609037,0.858748,0.185964,0.372059,0.810396,0.595951,0.865707,0.262034,0.534974,0.842076,0.510508
4,0.244665,0.322084,0.303686,0.822005,0.788109,0.0150596,0.0301274,0.766403,0.0141133,0.7232,0.91142,0.671723,0.448592,0.309448,0.687066,0.685287,0.170247,0.113792,0.194473,0.289216,0.790699,0.420838,0.729867,0.815968,0.108184,0.465304,0.813065,0.979673,0.70899,0.160021,0.614269,0.168534,0.54577,0.288691,0.320366,0.489294,0.726415,0.317568,0.0883659,0.278178,0.809961,0.858274,...,0.9094,0.90109,0.151691,0.315199,0.713449,0.936408,0.271674,0.177331,0.923626,0.0108152,0.357559,0.225942,0.0192579,0.387026,0.859565,0.275865,0.742275,0.671452,0.625459,0.386341,0.891122,0.333567,0.495034,0.0877074,0.155185,0.363466,0.621753,0.99568,0.709477,0.240456,0.680128,0.288174,0.475489,0.999805,0.204323,0.816319,0.14227,0.804007,0.788406,0.503824,0.479772,0.469515

In [142]:
newdf.sort_index(axis=1, ascending=False)

            4         3         2         1         0
0    0.244665  0.865332  0.237333  0.032187       0.3
1    0.322084  0.712306  0.135317  0.622183   0.98161
2    0.303686  0.490038  0.309749  0.529004  0.915347
3    0.822005  0.088075  0.766609  0.443946  0.200385
4    0.788109  0.730085  0.890240  0.274154  0.913429
..        ...       ...       ...       ...       ...
329  0.804007  0.865707  0.502028  0.880175  0.289072
330  0.788406  0.262034  0.902834  0.546782  0.659761
331  0.503824  0.534974  0.477229  0.507970  0.921195
332  0.479772  0.842076  0.163164  0.838283  0.928088
333  0.469515  0.510508  0.312333  0.722878  0.573348

[334 rows x 5 columns]

In [143]:
newdf.head()

          0         1         2         3         4
0       0.3  0.032187  0.237333  0.865332  0.244665
1   0.98161  0.622183  0.135317  0.712306  0.322084
2  0.915347  0.529004  0.309749  0.490038  0.303686
3  0.200385  0.443946  0.766609  0.088075  0.822005
4  0.913429  0.274154  0.890240  0.730085  0.788109

In [144]:
newdf[0].head()

0         0.3
1     0.98161
2    0.915347
3    0.200385
4    0.913429
Name: 0, dtype: object

In [145]:
newdf.loc[0,0]=654

In [146]:
newdf.head(2)

         0         1         2         3         4
0      654  0.032187  0.237333  0.865332  0.244665
1  0.98161  0.622183  0.135317  0.712306  0.322084

In [147]:
newdf.columns = list('Abcde')
newdf.head(2)

         A         b         c         d         e
0      654  0.032187  0.237333  0.865332  0.244665
1  0.98161  0.622183  0.135317  0.712306  0.322084

In [148]:
newdf.loc[0,'A']=65462
newdf.head(2)

         A         b         c         d         e
0    65462  0.032187  0.237333  0.865332  0.244665
1  0.98161  0.622183  0.135317  0.712306  0.322084

In [149]:
newdf.loc[0,0]= 65554
newdf.head(2)

         A         b         c         d         e        0
0    65462  0.032187  0.237333  0.865332  0.244665  65554.0
1  0.98161  0.622183  0.135317  0.712306  0.322084      NaN

In [150]:
newdf=newdf.drop(2, axis=0)
newdf.head()

          A         b         c         d         e        0
0     65462  0.032187  0.237333  0.865332  0.244665  65554.0
1   0.98161  0.622183  0.135317  0.712306  0.322084      NaN
3  0.200385  0.443946  0.766609  0.088075  0.822005      NaN
4  0.913429  0.274154  0.890240  0.730085  0.788109      NaN
5  0.589007  0.738760  0.658472  0.036930  0.015060      NaN

In [151]:
newdf.columns=list('ABCDE')
newdf.head(2)

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

In [152]:
newdf.loc[[1,2],['A','B']]

KeyError: "Passing list-likes to .loc or [] with any missing labels is no longer supported. The following labels were missing: Int64Index([2], dtype='int64'). See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike"

In [153]:
newdf.loc[1:5:2,:]

          A         b         c         d         e   0
1   0.98161  0.622183  0.135317  0.712306  0.322084 NaN
4  0.913429  0.274154  0.890240  0.730085  0.788109 NaN

In [154]:
newdf.head(2)

         A         b         c         d         e        0
0    65462  0.032187  0.237333  0.865332  0.244665  65554.0
1  0.98161  0.622183  0.135317  0.712306  0.322084      NaN

In [155]:
newdf.loc[(newdf['A']<0.3)].head()

            A         b         c         d         e   0
3    0.200385  0.443946  0.766609  0.088075  0.822005 NaN
7   0.0221329  0.798084  0.320915  0.351029  0.766403 NaN
9   0.0122717  0.831157  0.339842  0.216633  0.723200 NaN
12    0.08771  0.486216  0.482651  0.838765  0.448592 NaN
14  0.0338905  0.305192  0.508468  0.836970  0.687066 NaN

In [156]:
newdf.head(2)

         A         b         c         d         e        0
0    65462  0.032187  0.237333  0.865332  0.244665  65554.0
1  0.98161  0.622183  0.135317  0.712306  0.322084      NaN

In [157]:
newdf.iloc[0,4]

0.2446648680474791

In [158]:
newdf.iloc[[1,0,5],[1,3]]

          b         d
1  0.622183  0.712306
0  0.032187  0.865332
6  0.927407  0.249531

In [159]:
newdf.head(3)

          A         b         c         d         e        0
0     65462  0.032187  0.237333  0.865332  0.244665  65554.0
1   0.98161  0.622183  0.135317  0.712306  0.322084      NaN
3  0.200385  0.443946  0.766609  0.088075  0.822005      NaN

In [160]:
newdf.drop([0])

            A         b         c         d         e   0
1     0.98161  0.622183  0.135317  0.712306  0.322084 NaN
3    0.200385  0.443946  0.766609  0.088075  0.822005 NaN
4    0.913429  0.274154  0.890240  0.730085  0.788109 NaN
5    0.589007  0.738760  0.658472  0.036930  0.015060 NaN
6    0.501138  0.927407  0.076462  0.249531  0.030127 NaN
..        ...       ...       ...       ...       ...  ..
329  0.289072  0.880175  0.502028  0.865707  0.804007 NaN
330  0.659761  0.546782  0.902834  0.262034  0.788406 NaN
331  0.921195  0.507970  0.477229  0.534974  0.503824 NaN
332  0.928088  0.838283  0.163164  0.842076  0.479772 NaN
333  0.573348  0.722878  0.312333  0.510508  0.469515 NaN

[332 rows x 6 columns]

In [161]:
newdf.drop(['B'], axis=1)

KeyError: "['B'] not found in axis"

In [162]:
newdf.head()

          A         b         c         d         e        0
0     65462  0.032187  0.237333  0.865332  0.244665  65554.0
1   0.98161  0.622183  0.135317  0.712306  0.322084      NaN
3  0.200385  0.443946  0.766609  0.088075  0.822005      NaN
4  0.913429  0.274154  0.890240  0.730085  0.788109      NaN
5  0.589007  0.738760  0.658472  0.036930  0.015060      NaN

In [163]:
newdf.drop(['E'],axis=1, inplace=True)
newdf

KeyError: "['E'] not found in axis"

In [164]:
newdf.reset_index(drop=True, inplace=True)

In [165]:
newdf

            A         b         c         d         e        0
0       65462  0.032187  0.237333  0.865332  0.244665  65554.0
1     0.98161  0.622183  0.135317  0.712306  0.322084      NaN
2    0.200385  0.443946  0.766609  0.088075  0.822005      NaN
3    0.913429  0.274154  0.890240  0.730085  0.788109      NaN
4    0.589007  0.738760  0.658472  0.036930  0.015060      NaN
..        ...       ...       ...       ...       ...      ...
328  0.289072  0.880175  0.502028  0.865707  0.804007      NaN
329  0.659761  0.546782  0.902834  0.262034  0.788406      NaN
330  0.921195  0.507970  0.477229  0.534974  0.503824      NaN
331  0.928088  0.838283  0.163164  0.842076  0.479772      NaN
332  0.573348  0.722878  0.312333  0.510508  0.469515      NaN

[333 rows x 6 columns]

In [166]:
df = pd.DataFrame([[5, 2, np.nan, 1.0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, np.nan]],
                   columns=list('ABCD'))

In [167]:
df

     A    B   C    D
0  5.0  2.0 NaN  1.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  NaN

In [168]:
df.dropna(how='all',axis=1)

     A    B    D
0  5.0  2.0  1.0
1  3.0  4.0  1.0
2  NaN  NaN  NaN

In [169]:
df.drop_duplicates(subset=['D'])

     A    B   C    D
0  5.0  2.0 NaN  1.0
2  NaN  NaN NaN  NaN

In [170]:
df.isnull()

       A      B     C      D
0  False  False  True  False
1  False  False  True  False
2   True   True  True   True

In [171]:
df.notnull()

       A      B      C      D
0   True   True  False   True
1   True   True  False   True
2  False  False  False  False

In [172]:
new = pd.read_excel('p.xlsx')
new

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,646416,516
0,0,50,50,50,50,50,50,50,5
1,1,1,1,1,1,1,1,313,5
2,2,2,2,2,2,2,2,3,5
3,3,3,3,3,3,3,3,1855,6
4,4,4,4,4,4,4,4,6,654

In [173]:
new.iloc[0,0]=50
new

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,646416,516
0,50,50,50,50,50,50,50,50,5
1,1,1,1,1,1,1,1,313,5
2,2,2,2,2,2,2,2,3,5
3,3,3,3,3,3,3,3,1855,6
4,4,4,4,4,4,4,4,6,654

In [174]:
new.to_excel('p.xlsx')

In [175]:
census_df = pd.read_csv('census.csv',)

In [176]:
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,NPOPCHG_2010,NPOPCHG_2011,NPOPCHG_2012,NPOPCHG_2013,NPOPCHG_2014,NPOPCHG_2015,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,DEATHS2010,DEATHS2011,DEATHS2012,DEATHS2013,DEATHS2014,DEATHS2015,NATURALINC2010,NATURALINC2011,NATURALINC2012,NATURALINC2013,NATURALINC2014,NATURALINC2015,INTERNATIONALMIG2010,INTERNATIONALMIG2011,INTERNATIONALMIG2012,...,RESIDUAL2011,RESIDUAL2012,RESIDUAL2013,RESIDUAL2014,RESIDUAL2015,GQESTIMATESBASE2010,GQESTIMATES2010,GQESTIMATES2011,GQESTIMATES2012,GQESTIMATES2013,GQESTIMATES2014,GQESTIMATES2015,RBIRTH2011,RBIRTH2012,RBIRTH2013,RBIRTH2014,RBIRTH2015,RDEATH2011,RDEATH2012,RDEATH2013,RDEATH2014,RDEATH2015,RNATURALINC2011,RNATURALINC2012,RNATURALINC2013,RNATURALINC2014,RNATURALINC2015,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RINTERNATIONALMIG2015,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,4801108,4816089,4830533,4846411,4858979,5034,15947,14981,14444,15878,12568,14226,59689,59062,57938,58334,58305,11089,48811,48357,50843,50228,50330,3137,10878,10705,7095,8106,7975,1357,4926,4904,...,132,301,677,-573,1135,116185,116212,115560,115666,116963,119088,119599,12.453020,12.282581,12.012080,12.056286,12.014973,10.183524,10.056360,10.541099,10.380963,10.371556,2.269496,2.226220,1.470981,1.675322,1.643417,1.027720,1.019840,1.002216,1.142716,1.179963,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,55253,55175,55038,55290,55347,89,593,-78,-137,252,57,151,636,615,574,623,600,152,507,558,583,504,467,-1,129,57,-9,119,133,33,20,16,...,46,10,22,-10,45,455,455,455,455,455,455,455,11.572789,11.138479,10.416194,11.293597,10.846281,9.225478,10.106133,10.579514,9.136393,8.442022,2.347311,1.032347,-0.163320,2.157204,2.404259,0.363924,0.289782,0.290347,0.326300,0.343466,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,186659,190396,195126,199713,203709,928,3466,3737,4730,4587,3996,517,2187,2092,2160,2186,2240,532,1825,1879,1902,2044,1992,-15,362,213,258,142,248,69,187,172,...,174,25,91,434,58,2307,2307,2307,2249,2304,2308,2309,11.826352,11.096524,11.205586,11.072868,11.104997,9.868812,9.966716,9.867141,10.353587,9.875515,1.957540,1.129809,1.338445,0.719281,1.229482,1.011215,0.912334,0.881921,1.073855,1.095627,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,27226,27159,26973,26815,26489,-116,-115,-67,-186,-158,-326,70,335,300,283,260,269,128,319,291,294,310,309,-58,16,9,-11,-50,-40,2,-4,-7,...,2,-1,19,-1,-5,3193,3193,3382,3388,3389,3353,3352,12.278483,11.032454,10.455923,9.667584,10.093051,11.692048,10.701480,10.862337,11.526735,11.593877,0.586435,0.330974,-0.406414,-1.859151,-1.500825,-0.146609,-0.257424,-0.110840,-0.074366,0.000000,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,22733,22642,22512,22549,22583,-58,-128,-91,-130,37,34,44,266,245,259,247,253,34,278,237,281,211,223,10,-12,8,-22,36,30,2,10,16,...,0,0,14,-16,-21,2224,2224,2224,2224,2224,2233,2236,11.668202,10.798898,11.471852,10.962917,11.211557,12.194587,10.446281,12.446295,9.365083,9.882124,-0.526385,0.352617,-0.974443,1.597834,1.329434,0.438654,0.705234,0.797272,0.932070,0.930604,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [211]:
trial_df = {
    'first':['omkar','arya','chaitanya'],
    'last':['gujja','vannam','domala'],
    'email':['omkargujja@gamil.com','aryavannam@gamil.com','chaitanyadomala@gamil.com']
}
df = pd.DataFrame(trial_df)

In [199]:
df

       first    last                      email
0      omkar   gujja       omkargujja@gamil.com
1       arya  vannam       aryavannam@gamil.com
2  chaitanya  domala  chaitanyadomala@gamil.com

In [212]:
df = df[['first']]
df.columns = [0]
df

           0
0      omkar
1       arya
2  chaitanya

In [179]:
  filt = (df['first'] == 'omkar')

In [180]:
df.loc[filt, 'email']

0    omkargujja@gamil.com
Name: email, dtype: object

In [181]:
type(df.loc[1])

pandas.core.series.Series

In [182]:
type(df.loc[[1]])

pandas.core.frame.DataFrame

In [183]:
df.loc[0,'email']

'omkargujja@gamil.com'

In [184]:
df.loc[0:,'first':'email']

       first    last                      email
0      omkar   gujja       omkargujja@gamil.com
1       arya  vannam       aryavannam@gamil.com
2  chaitanya  domala  chaitanyadomala@gamil.com

In [185]:
df.loc[2]

first                    chaitanya
last                        domala
email    chaitanyadomala@gamil.com
Name: 2, dtype: object

In [196]:
df = df[[0,1]]
df.columns = ['hello','hd']

TypeError: list indices must be integers or slices, not list

In [197]:
# df.rename(columns={'first':0,'last':1,'email':2},inplace=True)
# # df.loc[0,1]

In [122]:
condition = df['first']=='omkar'
df.loc[condition]

   first   last                 email
0  omkar  gujja  omkargujja@gamil.com

In [123]:
df.loc[:2,['first','email']]

       first                      email
0      omkar       omkargujja@gamil.com
1       arya       aryavannam@gamil.com
2  chaitanya  chaitanyadomala@gamil.com

In [124]:
df = pd.read_csv('survey_results_public.csv',index_col='Respondent')
schema_df = pd.read_csv('survey_results_schema.csv')

In [125]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

In [126]:
df.head(2)

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4

In [127]:
df = df[['Converted Comp']]

KeyError: "None of [Index(['Converted Comp'], dtype='object')] are in the [columns]"

In [210]:
high_salary = (df['ConvertedComp']>70000)
df.loc[high_salary,['Country','LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
8,United States,Python;SQL,116000.0
16,United Kingdom,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,108576.0
17,United States,C#;HTML/CSS;JavaScript;Python;SQL;VBA,79000.0
18,United States,Bash/Shell/PowerShell;HTML/CSS;Perl,1260000.0
19,United States,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;S...,83400.0
...,...,...,...
65586,United States,NaN,225000.0
65589,United States,NaN,150000.0
65602,United States,NaN,140000.0
65604,United States,NaN,150000.0
65617,Germany,NaN,129718.0

In [222]:
countries = ['United States','India','United Kingdom','Canada']
filt = df['Country'].isin(countries)

In [223]:
df.loc[filt,'Country']

Respondent
2        United Kingdom
5         United States
7                 India
8         United States
10       United Kingdom
              ...
62834            Canada
62954             India
63077     United States
64236             India
64858     United States
Name: Country, Length: 26959, dtype: object

In [227]:
filt = df['LanguageWorkedWith'].str.contains('Python',na=False)

In [228]:
df.loc[filt,'LanguageWorkedWith']

Respondent
3                                 Objective-C;Python;Swift
8                                               Python;SQL
10                     HTML/CSS;Java;JavaScript;Python;SQL
13                                     C;JavaScript;Python
15        Bash/Shell/PowerShell;C;HTML/CSS;Java;Python;SQL
                               ...
61561    Bash/Shell/PowerShell;HTML/CSS;JavaScript;Perl...
62391       C++;HTML/CSS;JavaScript;Python;Ruby;TypeScript
63077              C++;HTML/CSS;Java;JavaScript;Python;SQL
63640    Bash/Shell/PowerShell;C;C#;C++;HTML/CSS;Java;J...
64867    Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
Name: LanguageWorkedWith, Length: 25287, dtype: object