In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.rand(34))

In [3]:
ser.head()

0    0.811657
1    0.885867
2    0.229246
3    0.917736
4    0.678595
dtype: float64

In [4]:
newdf= pd.DataFrame(np.random.rand(334, 5), index=np.arange(334))
newdf.head()

          0         1         2         3         4
0  0.995598  0.996805  0.616086  0.626454  0.212524
1  0.971227  0.967047  0.021355  0.816691  0.326887
2  0.126623  0.948033  0.368154  0.014444  0.007308
3  0.374004  0.825637  0.671085  0.429251  0.831526
4  0.985916  0.849171  0.048570  0.027450  0.864169

In [5]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.504989    0.503971    0.474463    0.502008    0.500538
std      0.305346    0.289316    0.287549    0.299225    0.280617
min      0.005978    0.010736    0.008976    0.000280    0.004527
25%      0.259056    0.243000    0.211078    0.223701    0.251767
50%      0.495416    0.481661    0.451302    0.532340    0.500781
75%      0.787847    0.746388    0.729805    0.762764    0.723994
max      0.997726    0.997845    0.999558    0.999953    0.999757

In [6]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [7]:
newdf[0][0]='omkar'
newdf.head()

          0         1         2         3         4
0     omkar  0.996805  0.616086  0.626454  0.212524
1  0.971227  0.967047  0.021355  0.816691  0.326887
2  0.126623  0.948033  0.368154  0.014444  0.007308
3  0.374004  0.825637  0.671085  0.429251  0.831526
4  0.985916  0.849171  0.048570  0.027450  0.864169

In [8]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [9]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [10]:
newdf.to_numpy(
)

array([['omkar', 0.996805389685098, 0.6160864664041679,
        0.626454078174511, 0.21252386347214292],
       [0.9712265374775347, 0.9670472371946377, 0.02135487435387473,
        0.8166907055087433, 0.32688739722237536],
       [0.12662255932788813, 0.9480326854550845, 0.36815448906969694,
        0.01444436202603383, 0.007308109985287969],
       ...,
       [0.5305957128503207, 0.08159709400770865, 0.15430914573491972,
        0.0228571553213901, 0.607348174289501],
       [0.5130752161558128, 0.5866335595650002, 0.19442118822198273,
        0.5547250319435045, 0.9709909184215016],
       [0.878651335403446, 0.5341460410910542, 0.6867265776403009,
        0.028553617525195807, 0.03536634423527052]], dtype=object)

In [11]:
newdf[0][0]=0.3
newdf.to_numpy()

<ipython-input-11-e374ad0f66b2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newdf[0][0]=0.3

array([[0.3, 0.996805389685098, 0.6160864664041679, 0.626454078174511,
        0.21252386347214292],
       [0.9712265374775347, 0.9670472371946377, 0.02135487435387473,
        0.8166907055087433, 0.32688739722237536],
       [0.12662255932788813, 0.9480326854550845, 0.36815448906969694,
        0.01444436202603383, 0.007308109985287969],
       ...,
       [0.5305957128503207, 0.08159709400770865, 0.15430914573491972,
        0.0228571553213901, 0.607348174289501],
       [0.5130752161558128, 0.5866335595650002, 0.19442118822198273,
        0.5547250319435045, 0.9709909184215016],
       [0.878651335403446, 0.5341460410910542, 0.6867265776403009,
        0.028553617525195807, 0.03536634423527052]], dtype=object)

In [12]:
newdf.head()

          0         1         2         3         4
0       0.3  0.996805  0.616086  0.626454  0.212524
1  0.971227  0.967047  0.021355  0.816691  0.326887
2  0.126623  0.948033  0.368154  0.014444  0.007308
3  0.374004  0.825637  0.671085  0.429251  0.831526
4  0.985916  0.849171  0.048570  0.027450  0.864169

In [13]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.3,0.971227,0.126623,0.374004,0.985916,0.926889,0.720011,0.0703796,0.0732944,0.00625421,...,0.925045,0.788534,0.882738,0.0394445,0.600011,0.154482,0.489221,0.530596,0.513075,0.878651
1,0.996805,0.967047,0.948033,0.825637,0.849171,0.256085,0.886877,0.830215,0.230016,0.161743,...,0.355202,0.176059,0.578243,0.593466,0.936219,0.965906,0.233295,0.0815971,0.586634,0.534146
2,0.616086,0.0213549,0.368154,0.671085,0.0485695,0.813952,0.323028,0.547105,0.591975,0.727709,...,0.868788,0.813054,0.434262,0.250551,0.0185919,0.0406445,0.12921,0.154309,0.194421,0.686727
3,0.626454,0.816691,0.0144444,0.429251,0.0274496,0.165956,0.686368,0.0841187,0.789242,0.793983,...,0.359711,0.53053,0.772558,0.687581,0.000279513,0.597862,0.182279,0.0228572,0.554725,0.0285536
4,0.212524,0.326887,0.00730811,0.831526,0.864169,0.861948,0.369441,0.473895,0.536952,0.448839,...,0.46387,0.120767,0.385875,0.200114,0.0152171,0.471982,0.999757,0.607348,0.970991,0.0353663

In [14]:
newdf.sort_index(axis=1, ascending=False)

            4         3         2         1         0
0    0.212524  0.626454  0.616086  0.996805       0.3
1    0.326887  0.816691  0.021355  0.967047  0.971227
2    0.007308  0.014444  0.368154  0.948033  0.126623
3    0.831526  0.429251  0.671085  0.825637  0.374004
4    0.864169  0.027450  0.048570  0.849171  0.985916
..        ...       ...       ...       ...       ...
329  0.471982  0.597862  0.040644  0.965906  0.154482
330  0.999757  0.182279  0.129210  0.233295  0.489221
331  0.607348  0.022857  0.154309  0.081597  0.530596
332  0.970991  0.554725  0.194421  0.586634  0.513075
333  0.035366  0.028554  0.686727  0.534146  0.878651

[334 rows x 5 columns]

In [15]:
newdf.head()

          0         1         2         3         4
0       0.3  0.996805  0.616086  0.626454  0.212524
1  0.971227  0.967047  0.021355  0.816691  0.326887
2  0.126623  0.948033  0.368154  0.014444  0.007308
3  0.374004  0.825637  0.671085  0.429251  0.831526
4  0.985916  0.849171  0.048570  0.027450  0.864169

In [16]:
newdf[0].head()

0         0.3
1    0.971227
2    0.126623
3    0.374004
4    0.985916
Name: 0, dtype: object

In [17]:
newdf.loc[0,0]=654

In [18]:
newdf.head(2)

          0         1         2         3         4
0       654  0.996805  0.616086  0.626454  0.212524
1  0.971227  0.967047  0.021355  0.816691  0.326887

In [19]:
newdf.columns = list('Abcde')
newdf.head(2)

          A         b         c         d         e
0       654  0.996805  0.616086  0.626454  0.212524
1  0.971227  0.967047  0.021355  0.816691  0.326887

In [20]:
newdf.loc[0,'A']=65462
newdf.head(2)

          A         b         c         d         e
0     65462  0.996805  0.616086  0.626454  0.212524
1  0.971227  0.967047  0.021355  0.816691  0.326887

In [21]:
newdf.loc[0,0]= 65554
newdf.head(2)

          A         b         c         d         e        0
0     65462  0.996805  0.616086  0.626454  0.212524  65554.0
1  0.971227  0.967047  0.021355  0.816691  0.326887      NaN

In [22]:
newdf=newdf.drop(2, axis=0)
newdf.head()

          A         b         c         d         e        0
0     65462  0.996805  0.616086  0.626454  0.212524  65554.0
1  0.971227  0.967047  0.021355  0.816691  0.326887      NaN
3  0.374004  0.825637  0.671085  0.429251  0.831526      NaN
4  0.985916  0.849171  0.048570  0.027450  0.864169      NaN
5  0.926889  0.256085  0.813952  0.165956  0.861948      NaN

In [23]:
newdf.columns=list('ABCDE')
newdf.head(2)

ValueError: Length mismatch: Expected axis has 6 elements, new values have 5 elements

In [ ]:
newdf.loc[[1,2],['A','B']]

In [ ]:
newdf.loc[1:5:2,:]

In [ ]:
newdf.head(2)

In [ ]:
newdf.loc[(newdf['A']<0.3)].head()

In [ ]:
newdf.head(2)

In [ ]:
newdf.iloc[0,4]

In [ ]:
newdf.iloc[[1,0,5],[1,3]]

In [ ]:
newdf.head(3)

In [ ]:
newdf.drop([0])

In [ ]:
newdf.drop(['B'], axis=1)

In [ ]:
newdf.head()

In [ ]:
newdf.drop(['E'],axis=1, inplace=True)
newdf

In [ ]:
newdf.reset_index(drop=True, inplace=True)

In [ ]:
newdf

In [ ]:
df = pd.DataFrame([[5, 2, np.nan, 1.0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, np.nan]],
                   columns=list('ABCD'))

In [ ]:
df

In [ ]:
df.dropna(how='all',axis=1)

In [ ]:
df.drop_duplicates(subset=['D'])

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
new = pd.read_excel('p.xlsx')
new

In [ ]:
new.iloc[0,0]=50
new

In [ ]:
new.to_excel('p.xlsx')

In [25]:
census_df = pd.read_csv('census.csv')