In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [6]:
df = pd.read_csv('..\\BangloreHomePrices\\model\\bengaluru_house_prices.csv')

In [7]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [9]:
df.shape

(13320, 9)

In [52]:
df.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [49]:
for i in df.groupby('area_type'):
    print(i)

('Built-up  Area',             area_type   availability               location       size  \
2      Built-up  Area  Ready To Move            Uttarahalli      3 BHK
13     Built-up  Area  Ready To Move              Gottigere      2 BHK
20     Built-up  Area  Ready To Move                Kengeri      1 BHK
27     Built-up  Area         20-Dec             Whitefield      3 BHK
34     Built-up  Area  Ready To Move          Kasturi Nagar      3 BHK
...               ...            ...                    ...        ...
13280  Built-up  Area  Ready To Move               Sarjapur      3 BHK
13307  Built-up  Area  Ready To Move           Billekahalli      3 BHK
13308  Built-up  Area  Ready To Move      Bannerghatta Road      3 BHK
13315  Built-up  Area  Ready To Move             Whitefield  5 Bedroom
13317  Built-up  Area  Ready To Move  Raja Rajeshwari Nagar      2 BHK

       society total_sqft  bath  balcony  price
2          NaN       1440   2.0      3.0   62.0
13         NaN       1100   2.0      2.0   40.0
20         NaN        600   1.0      1.0   15.0
27         NaN       1610   3.0      2.0   81.0
34     Kantsce       1925   3.0      NaN  125.0
...        ...        ...   ...      ...    ...
13280      NaN       1425   3.0      2.0   57.0
13307      NaN       1805   3.0      3.0  134.0
13308  Baanise       1527   3.0      1.0  142.0
13315  ArsiaEx       3453   4.0      0.0  231.0
13317  Mahla T       1141   2.0      1.0   60.0

[2418 rows x 9 columns])
('Carpet  Area',           area_type   availability           location   size  society  \
297    Carpet  Area  Ready To Move  Maruthi Sevanagar  2 BHK  SMikaay
340    Carpet  Area  Ready To Move   Muneshwara Nagar  2 BHK      NaN
352    Carpet  Area  Ready To Move       Sampigehalli  3 BHK  Puens G
594    Carpet  Area  Ready To Move       Sanjay nagar  2 BHK      NaN
622    Carpet  Area  Ready To Move  Bannerghatta Road  3 BHK      NaN
...             ...            ...                ...    ...      ...
13006  Carpet  Area  Ready To Move   Kereguddadahalli  3 BHK  Jaood G
13183  Carpet  Area  Ready To Move      Shivaji Nagar  2 BHK      NaN
13214  Carpet  Area  Ready To Move  Bannerghatta Road  3 BHK  Vemit S
13238  Carpet  Area         19-Jan       Hennur Bande  2 BHK      NaN
13305  Carpet  Area  Ready To Move           Hulimavu  1 BHK      NaN

      total_sqft  bath  balcony  price
297          950   2.0      2.0   47.0
340         1230   2.0      3.0   48.0
352         1592   3.0      2.0   75.0
594         1100   2.0      2.0   98.0
622         1445   3.0      2.0   95.0
...          ...   ...      ...    ...
13006       1280   3.0      1.0   42.0
13183        600   1.0      1.0   65.0
13214       1470   2.0      1.0   85.0
13238       1200   2.0      3.0   70.0
13305        500   1.0      3.0  220.0

[87 rows x 9 columns])
('Plot  Area',         area_type   availability               location       size  society  \
1      Plot  Area  Ready To Move       Chikka Tirupathi  4 Bedroom  Theanmp
9      Plot  Area  Ready To Move           Gandhi Bazar  6 Bedroom      NaN
11     Plot  Area  Ready To Move             Whitefield  4 Bedroom  Prrry M
14     Plot  Area  Ready To Move               Sarjapur  3 Bedroom  Skityer
22     Plot  Area  Ready To Move            Thanisandra  4 Bedroom  Soitya
...           ...            ...                    ...        ...      ...
13291  Plot  Area         18-Jan         Weavers Colony  1 Bedroom      NaN
13300  Plot  Area  Ready To Move          Hosakerehalli  5 Bedroom      NaN
13303  Plot  Area  Ready To Move         Vidyaranyapura  5 Bedroom      NaN
13306  Plot  Area  Ready To Move  Rajarajeshwari Nagara  4 Bedroom      NaN
13311  Plot  Area  Ready To Move       Ramamurthy Nagar  7 Bedroom      NaN

      total_sqft  bath  balcony  price
1           2600   5.0      3.0  120.0
9           1020   6.0      NaN  370.0
11          2785   5.0      3.0  295.0
14          2250   3.0      2.0  148.0
22          2800   5.0      2.0  380.0
...          ...   ...      ...    ...
13291        812   1.0      0.0   26.0
13300       1500   6.0      2.0  145.0
13303        774   5.0      3.0   70.0
13306       1200   5.0      NaN  325.0
13311       1500   9.0      2.0  250.0

[2025 rows x 9 columns])
('Super built-up  Area',                   area_type   availability                  location   size  \
0      Super built-up  Area         19-Dec  Electronic City Phase II  2 BHK
3      Super built-up  Area  Ready To Move        Lingadheeranahalli  3 BHK
4      Super built-up  Area  Ready To Move                  Kothanur  2 BHK
5      Super built-up  Area  Ready To Move                Whitefield  2 BHK
6      Super built-up  Area         18-May          Old Airport Road  4 BHK
...                     ...            ...                       ...    ...
13313  Super built-up  Area  Ready To Move               Uttarahalli  3 BHK
13314  Super built-up  Area  Ready To Move         Green Glen Layout  3 BHK
13316  Super built-up  Area  Ready To Move             Richards Town  4 BHK
13318  Super built-up  Area         18-Jun           Padmanabhanagar  4 BHK
13319  Super built-up  Area  Ready To Move              Doddathoguru  1 BHK

       society total_sqft  bath  balcony   price
0      Coomee        1056   2.0      1.0   39.07
3      Soiewre       1521   3.0      1.0   95.00
4          NaN       1200   2.0      1.0   51.00
5      DuenaTa       1170   2.0      1.0   38.00
6      Jaades        2732   4.0      NaN  204.00
...        ...        ...   ...      ...     ...
13313  Aklia R       1345   2.0      1.0   57.00
13314  SoosePr       1715   3.0      3.0  112.00
13316      NaN       3600   5.0      NaN  400.00
13318  SollyCl       4689   4.0      1.0  488.00
13319      NaN        550   1.0      1.0   17.00

[8790 rows x 9 columns])